<html ng-app="nonamed">
<head>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.js"></script>

</head>
<style>
    .right-inner-addon {
        margin-top: 10px;
        position: relative;
    }
    .right-inner-addon input {
        padding-right: 30px;
    }
    .right-inner-addon span {
        position: absolute;
        right: 0px;
        padding: 10px 12px;
        pointer-events: none;
    }
</style>
<body>
    <header class="navbar navbar-static-top" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
                <button class="btn-lg navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
                    <span class="glyphicon glyphicon-collapse-down"></span>
                </button>
            </div>
            <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
                <ul class="nav navbar-nav">
                    <li>
                        <a>
                            <span style="font-size: 1.5em ; color: #000000" class="glyphicon glyphicon-envelope"></span>
                            <span class="badge" style=" position: absolute; top: 5px; right: 2px; z-index: 200 ; background: #a9d86e">6</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span style="font-size: 1.5em ;color: #000000"  class="glyphicon glyphicon-info-sign"></span>
                            <span class="badge" style=" position: absolute; top: 5px; right: 2px; z-index: 200 ; background: #FCB322">3</span>
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle"  data-toggle="dropdown">
                            <span style="font-size: 1.5em; color: #000000" class="glyphicon glyphicon-th" ></span>
                        </a>
                        <ul class="dropdown-menu" style="padding: 0;">
                            <div class="alert alert-warning" style="text-align: center; padding: 5px; margin-bottom: 5px;"><b>Favorite</b></div>
                            <li style="text-align: center ; margin-bottom: 10px;">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </li>
                            <li class="divider"></li>
                            <li style="text-align: center ; margin-bottom: 10px;">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </li>
                            <li style="text-align: center ; margin-bottom: 10px;">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </li>
                            <li style="text-align: center ; margin-bottom: 10px;">
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                                <button class="btn btn-default btn-sm">
                                    <span class="glyphicon glyphicon-print"></span>
                                </button>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="right-inner-addon">
                            <span class="glyphicon glyphicon-search"></span>
                            <input type="search"
                                   class="form-control"
                                   placeholder="Search" />
                        </div>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">

                </ul>

            </nav>
        </div>
    </header>
</body>
</html>